<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <title>Login</title>
</head>
<body>
  <main> 
    <form action="/auth/login" method="POST">
      <div class="main">
        <p class="sign" align="center">Sign in</p>
        <input class="un " type="email" name="email" id="email" align="center" placeholder="email"/>
        <input class="pass" type="password" align="center" name="password" id="password" placeholder="password"/>
        <button class="submit" align="center" type="submit">Login</button>
      </div>     
    </form>
  </main>
</body>
</html>