<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/contact.css">
    <script defer src="/script/app.js"></script>
  

</head>

<body>
    <header>
        <nav class="nav-bar">
            <ul>
                <li class="address"></li>
                  <a class="nav-link" href="/">Home</a>
                <li class="nav-item"></li>
                  <a class="nav-link" href="/products">Products</a>
                <li class="nav-item"></li>
                  <a class="nav-link" href="/businesses">Businesses</a>
                <li class="nav-item"></li>
                  <a class="nav-link" href="/aboutus">About Us</a>
                <li class="nav-item"></li>
                  <a class="nav-link" href="/contact">Contact</a>
                  <h3 class="header-slogan">We would love to hear from you!</h3>
              </ul>
        </nav>
    </header>
    <section id="heading" class="hero">
      <div class="main-heading"> 
        <img class="logo" src="https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="logo">
      </div>
      <div class="about-us">
        <ul>
            <li class="contact-item"></li>
              <label for="address">Address: 0000 Rainbow Ave., Seattle, WA, 98123</label>
            <li class="contact-item"></li>
              <label for="email">Email: YLB@gmail.com</label>
            <li class="contact-item"></li>
              <label for="phone">Phone: 000-000-0000</label>
          </ul>
      </div>
    </section>
</body>
</html>
<%- include('footer') %>