<footer>
  <form action="/search" method="GET">
    <div> 
        <nav class="nav-bar">
            <ul>
              <li class="search"></li>
              <input type="search" placeholder="search" name="search" id="search">
              <li class="nav-item"></li>
                <a id="home" class="nav-link" href="/">Home</a>
              <li class="nav-item"></li>
                <a class="nav-link" href="/products">Products</a>
              <li class="nav-item"></li>
                <a class="nav-link" href="/businesses">Businesses</a>
              <li class="nav-item"></li>
                <a class="nav-link" href="/aboutus">About Us</a>
              <li class="nav-item"></li>
                <a id="contact" class="nav-link" href="/contact">Contact</a>
              <li class="nav-item"></li>
                <img class="nav-social" src="/images/facebook.png">
              <li class="nav-item"></li>
                <img class="nav-social" src="/images/instagram.png">
              <li class="nav-item"></li>
                <img class="nav-social" src="/images/twitter-logo-on-badge.png">
            </ul>
        </nav>
    </div>
  </form>
</footer>