<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Index</title>
</head>
<body>
    <%- include('nav') %>
    <h1>Business Index</h1>  
    <ul>
        <% for (let i = 0; i < businesses.length; i++)  { %>
            <li>
                <a href="/business/<%= businesses[i]._id %> ">
                        <%= businesses[i].name %> 
                </a>
            </li>
        <% } %>   
    </ul>
</body>
</html>