<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Index</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <ul>
              <li class="nav-item"></li>
                <a class="nav-link" href="/">Home</a>
              <li class="nav-item"></li>
                <a class="nav-link" href="/products">Products</a>
              <li class="nav-item"></li>
                <a class="nav-link" href="/businesses">Businesses</a>
                <li class="nav-item"></li>
                <a class="nav-link" href="/businesses/new">Add Business</a>
                <li class="nav-item"></li>
                <a class="nav-link" href="/aboutus">About Us</a>
              <li class="nav-item"></li>
                <a class="nav-link" href="/contact">Contact</a>
                <h3>Connecting Communities Through Local Business!</h3>
                <li class="search"></li>
              <input type="text" placeholder="Search">
            </ul>
        </nav>
    </header>
    <h1>Business Index</h1>  
    <ul>
        <% for (let i = 0; i < businesses.length; i++)  { %>
            <li>
                <a href="/businesses/<%= businesses[i]._id %> ">
                        <%= businesses[i].name %> 
                </a>
            </li>
        <% } %>   
    </ul>
</body>
<%- include('../footer') %>
</html>