<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/businessNew.css">
    <title>New Business</title>
</head>
<body>
<header>
    <nav class="nav-bar">
        <ul>
          <li class="nav-item"></li>
            <a class="nav-link" href="/">Home</a>
          <li class="nav-item"></li>
            <a class="nav-link" href="/products">Products</a>
          <li class="nav-item"></li>
            <a class="nav-link" href="/businesses">Businesses</a>
          <li class="nav-item"></li>
            <a class="nav-link" href="/businesses/new">Add Business</a>
          <li class="nav-item"></li>
            <a class="nav-link" href="/aboutus">About Us</a>
          <li class="nav-item"></li>
            <a class="nav-link" href="/contact">Contact</a>
          <h3 class="header-slogan" >Add Your Business!</h3>
          <li class="search"></li>
          <input type="text" placeholder="Search">
        </ul>
    </nav>
</header>
      <section class="hero">
        <form class="maing-heading" action="/businesses" method="POST">
            <div>
                <label for="name"></label>
                <input value="Business Name" type="text" name="name" id="name">
            </div>
            <div>
                <input value="Owner" type="text" name="owner" id="owner">
            </div>
            <div>
                <input value="Mission Statement" type="text" name="businessValues" id="businessValues">
            </div>
            <div>
                <input value="Business Type" type="text" name="category" id="category">
            </div>
            <div>
                <br>
                <input value="Street Number" type="text" name="streetNumber" id="streetNumber">
                <input value="Street Name" type="text" name="streetName" id="streetName">
                <input value="City" type="text" name="city" id="city">
                <select name="states" id="states">
                    <option value="">--Select the State--</option>
                    <% const states=['AK', 'AL', 'AR', 'AS', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MP', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UM', 'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV', 'WY'];
                    for(let i=0;i<states.length;i++) {%>
                            <option value="<%=states[i] %>"><%= states[i] %></option>
                    <% } %>
                </select>
            </div>
            
            <div>
                <input value="Phone Number" type="text" name="contact" id="contact">
            </div>

            <button type="submit">Add Business</button>
        </form>
      </section>
    <%- include('../footer') %>
</body>
</html>
    