<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Index</title>
</head>
<body>
    <%- include('nav') %>
    <h1>Product Index</h1>  
    <ul>
        <% for (let i = 0; i < products.length; i++)  { %>
            <li>
                <a href="/products/<%= products[i]._id %>">
                        <%= products[i].name %> 
                </a>
            </li>
        <% } %>   
    </ul>
</body>
</html>